@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes breatheBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(
        120deg,
        #01eeff,
        #ff004c,
        #89fd05
    );

    background-size: 300% 300%;
    animation: breatheBackground 16s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;

}


.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #ffffff;
    width: 360px;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.35);
    text-align: center;

    animation: fadeSlideUp 0.6s ease-out;
}


.card h1 {
    margin: 0;
    font-size: 24px;
    color: #222;
}

.subtitle {
    font-size: 13px;
    color: #666;
    margin: 6px 0 22px;
}

.label {
    display: block;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #000000;
}

input[type="file"],
input[type="number"] {
    width: 100%;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 18px;
    font-size: 14px;
}
.format-toggle {
    display: flex;
    gap: 20px;
    margin-bottom: 18px;
    justify-content: center;
}

.format-toggle label {
    font-size: 14px;
    cursor: pointer;
}

.format-toggle input {
    margin-right: 6px;
}

input[type="file"] {
    background: #f7f7f7;
}

button {
    width: 100%;
    background: #09ff00;
    color: white;
    border: black;
    padding: 13px;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
}

button:hover {
    background: #1257b7;
    transform: translateY(-1px);
}

button:active {
    transform: scale(0.98);
}


.error {
    background: #ffe1e1;
    color: #b00000;
    padding: 10px;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 15px;
}

.note {
    margin-top: 16px;
    font-size: 11px;
    color: #888;
}
input:focus {
    outline: none;
    border-color: #1a73e8;
    box-shadow: 0 0 0 2px rgba(26,115,232,0.2);
    transition: 0.2s ease;
}
.loader {
    width: 18px;
    height: 18px;
    border: 3px solid rgba(255,255,255,0.4);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: none;
    margin: auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
button.loading .btn-text {
    display: none;
}

button.loading .loader {
    display: block;
}

button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}
